.body
{
	padding-top: 60px;
	padding-left: 100px;
	padding-bottom: 50px;
}

.bodytl
{
	margin-top: 100px;
	padding-left: 550px;
	height: 497px;
}

.demuc
{
	vertical-align: top;
	font-size: 18px;
}

.demuctl
{
	font-size: 18px;
}

.theloai
{
	width: 300px;
	height: 30px;
}

.tieude
{
	width: 1000px;
	height: 30px;
}

.tomtat
{
	min-width: 1000px;
	max-width: 1000px;
	min-height: 100px;
}

.tacgia
{
	width: 300px;
	height: 30px;
}

.ngaydang
{
	width: 300px;
	height: 30px;
}

.xacnhan
{
	width: 1000px;
	text-align: right;
}

.xacnhan button
{
	padding-top: 0.1em;
	font-size: 16px;
	height: 40px;
	width: 150px;
	background-color: red;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
}

.xacnhan button:hover
{
	background-color: FireBrick;
}

.xacnhantl
{
	width: 400px;
	text-align: right;
}

.xacnhantl button
{
	padding-top: 0.1em;
	font-size: 16px;
	height: 40px;
	width: 150px;
	background-color: red;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
}

.xacnhantl button:hover
{
	background-color: FireBrick;
}